[Unit]
Description=EnviroPulse Node Dispatcher
Requires=initial_at_setup.service
After=initial_at_setup.service

[Service]
Type=simple
ExecStart=/home/FLC/EP/scripts/node/dispatcher.py
Restart=always
RestartSec=3
User=FLC
WorkingDirectory=/home/FLC/EP/scripts/node/
Environment="PATH=/home/FLC/EP/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target