[Unit]
Description=EnviroPulse Node Dispatcher
Requires=initial_at_setup.service
After=initial_at_setup.service

[Service]
Type=simple
ExecStart=/home/node1/EP/venv/bin/python /home/node1/EP/scripts/node/dispatcher.py
Restart=always
RestartSec=3
User=node1
WorkingDirectory=/home/node1/EP/scripts/node
Environment="PATH=/home/node1/EP/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target


